<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        $title | Tour of Heroes
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <CssBundle link="/css/main.css" />
</head>

<body>
    <div id="content">
        <h1>Tour of Heroes</h1>
        <nav>
            <a href="/">Dashboard</a>
            <a href="/heroes">Heroes</a>
        </nav>
        <slot></slot>
    </div>
    <Messages></Messages>
    <ViewiScripts />
</body>

</html>